In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
0              0.95822          3.4          8.2              53      47
1              0.85566          3.2          5.9              55      35
2              0.68025          3.2          9.3              41      32
3              0.25936          3.2          8.2              47      34
4              0.60447          3.8         10.0              75      33

In [4]:
X = df.iloc[:,0:4].values

In [5]:
X

array([[ 0.95822,  3.4    ,  8.2    , 53.     ],
       [ 0.85566,  3.2    ,  5.9    , 55.     ],
       [ 0.68025,  3.2    ,  9.3    , 41.     ],
       ...,
       [ 0.88197,  3.9    ,  6.2    , 54.     ],
       [ 0.47336,  3.5    ,  7.3    , 61.     ],
       [ 0.58119,  3.7    ,  9.7    , 79.     ]], shape=(1388, 4))

In [6]:
Y = df.iloc[:,4:].values

In [7]:
Y

array([[47],
       [35],
       [32],
       ...,
       [36],
       [34],
       [35]], shape=(1388, 1))